.scene {
    -fx-background-color: white;
}

.button {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

/* .button:selected */
.button:hover, .button:focused {
    -fx-border-color: red;
    -fx-background-insets: 0;
}

.check-box .box {
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}

.check-box:selected .mark {
    -fx-background-color: #28cbff;
}

#stopAllBtn, #stopBtn {
    -fx-background-color: rgba(255, 48, 48, 0.73);
}

.table-view {
    -fx-selection-bar: rgba(189, 189, 189, 0.7);
}

.text-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-field:focused, .text-field:selected  {
    -fx-border-color: black;
    -fx-background-insets: 0;
}

.tab-pane:focused>.tab-header-area>.headers-region>.tab:selected .focus-indicator {
    -fx-border-color: #000000;
}

/* na transpaerntne buttony */
/*#submitBtn, #submitBtn2 {*/
/*    -fx-background-color: transparent;*/
/*}*/

